@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

.outer-box{
    width: 100vw;
    height: 100vh;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.inner-box{
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 45%;
    transform: translateY(-60%);
    padding: 20px 40px ;
    background-color: #ffffff09;
    background: linear-gradient(to top right , #ffffffff,#ffffff45);
    backdrop-filter: blur(8px);
    border-radius: 16px;
    box-shadow: 2px 2px 5px #2773a5;
    z-index: 2;
    
}

.signup-header h1{
    font-size: 2.5rem;
    color: #212121;
}

.signup-header p{
    font-size: 0.9rem;
    color: #555;
}
.signup-body{
    margin: 25px 0;
}

.signup-body p{
    margin: 5px 0;
}

.signup-body p label{
    display: block;
    font-weight:bold;
}
.signup-body p input{
    width: 100%;
    padding: 10px;
    border: 2px solid #cccc;
    border-radius: 8px;
    font-size: 1rem;
    margin-top: -7px;
}

.signup-body p input.top{
    width: 100%;
    padding: 10px;
    border: 2px solid #cccc;
    border-radius: 8px 8px 0px 0px;
    font-size: 1rem;
    margin-top: -7px;
}
.signup-body p input.middle{
    width: 100%;
    padding: 10px;
    border: 2px solid #cccc;
    border-radius: 0px;
    font-size: 1rem;
    margin-top: -7px;
}
.signup-body p input.bottom{
    width: 100%;
    padding: 10px;
    border: 2px solid #cccc;
    border-radius: 0px 0px 8px 8px;
    font-size: 1rem;
    margin-top: -7px;
}

.signup-body p input[type="submit"]{
    margin-top: 5px;
    background-color: #6cc4f7;
    border: none;
    color:white;
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 8px 8px 3px;
}
.signup-body p input[type="submit"]:hover{
    background-color: #025180;
}
.signup-footer p {
    color: #555;
    text-align: center;
}
.signup-footer p a {
    color: #0093E9;
}

.circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(to top right , #ffffff33,#ffffffff);
    position: absolute;
    
}

.c1{
    top: 100px;
    left: 40px;
}
.c2{
    right: 50px;
    bottom: 100px;
}


/* image logo */
.logo{
    height: 20%;
    margin-left: 45%;
    transform: translateY(50%);
}
